body {
  background-color: #d9ccc1;
  position: relative;
}

.diaries {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.diary {
  width: 180px;
  height: 180px;
  border-radius: 30%;
  margin: 30px 40px;
  overflow: hidden;
  z-index: 1;
}

.diary .content-view {
  background-color: white;
  height: 70%;
}

.diary .content-view .content-link {
  display: block;
  height: 100%;
  padding: 20px;
  color: black;
}

.diary .content-view .content-link:hover {
  text-decoration: none;
}



.diary .content-view span {
  margin: 8px;
  overflow: hidden;
}

.diary .action-content {
  background-color: #c5b3a3;
  height: 30%;
  position: relative;
}

.diary .action-content p {
  margin: 0;
}

.diary .action-content .delete {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: gray;
  color: white;
  position: absolute;
  top: 8px;
  right: 40px;
  text-decoration: none;
}

#trash {
  width: 100px;
  height: 120px;
  position: fixed;
  bottom: 30px;
  right: 50px;
  background-color: gray;
  text-align: center;
}

.mini {
  transform: scale(0.5,0.5);
}
