<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../static/css/signup.css" />

  <title>confirm</title>
</head>
<body>
  <h1>ユーザー確認</h1>
  <div class="confirm">
    <p>ユーザ名：　{{form.cleaned_data.username}}</p>
    <p>パスワード：　********</p>
  </div>

  <div class="btn-group">
    <form action="{% url 'signup:signup' %}" method="POST">
      {% csrf_token %}
      {% for field in form %}
        {{field.as_hidden}}
      {% endfor %}
      <button type="submit" class="btn-1">修正</button>
    </form>
    <form action="{% url 'signup:create' %}" method="POST">
      {% csrf_token %}
      {% for field in form %}
        {{field.as_hidden}}
      {% endfor %}
      <button type="submit" class="btn-1">登録</button>
    </form>
  </div>
    <a href="{% url 'top:top' %}" class="back"><span>TOP</span></a>
</body>
</html>
