<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../../static/css/diary.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  </head>
  <body>
    <div class="v-center"></div>
    <div id="container">
      <div class="book">
        <div class="side" id="side"></div>
        <div class="bottom"></div>
        <div class="shadow"></div>
      </div>
    </div>

    <script>
      $(function () {
        $(".front:not(.last)").on("click", function () {
          $(".book").addClass("open");
          $(this).parent(".paper").addClass("open");
        });

        $(".back").on("click", function () {
          if ($(this).parent(".paper").index() == 0) {
            $(".book").removeClass("open");
          }
          $(this).parent(".paper").removeClass("open");
          return false;
        });
      });

      for (let i = 0; i <= "{{diary_cnt}}"; i++) {
        let text = "";
        if (i === 0) {
          text += '<div class="first paper">';
          text += '<div class="page front contents">';
          text += '<div class="intro">';
          text += "<h2>日記</h2>";
          text += "</div>";
          text += "</div>";
          text += '<div class="page back"></div>';
          text += "</div>";
          text += "";
        } else {
          text += '<div class="second paper">';
          text += '<div class="page front last contents">';
          text += "<div>{{ diary.title }}</div>";
          text += "</div>";
          text += '<div class="page back"></div>';
          text += "</div>";
        }
        $("#side").before(text);
      }
    </script>
  </body>
</html>
